[submodule "external/rapidcheck"]
	path = external/rapidcheck
	url = https://github.com/emil-e/rapidcheck
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/catch2
