[submodule "external/rapidcheck"]
	path = dmgb_test/external/rapidcheck
	url = https://github.com/emil-e/rapidcheck
[submodule "external/catch2"]
	path = dmgb_test/external/catch2
	url = https://github.com/catchorg/catch2
[submodule "external/gsl"]
	path = external/gsl
	url = https://github.com/Microsoft/GSL
